In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

In [77]:
df = pd.read_csv(r'D:\Unified_Mentor\Working_File\Bird Strikes data.csv',encoding='unicode_escape')

In [78]:
df.shape

(25558, 29)

In [79]:
df.head()

,ï»¿Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Year,...,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Cost Group,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,23-11-2000,2000.0,...,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,"30,736",0-1L,"1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,25-07-2001,2001.0,...,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,14-09-2001,2001.0,...,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,09-05-2002,2002.0,...,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,23-06-2003,2003.0,...,NO DMG REPTD.,Small,No Cloud,European starling,N,0,0,50,0,No

In [80]:
df.ndim

2

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ï»¿Record ID                             25558 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 2078 non-null   object
 8   FlightDate                               25429 non-null  object
 9   Year                                     25429 non-null  float64
 10  Month                                    25429 non-null  float64
 11  Effect: Indicated Damage                 25558 non-null  object
 12  Aircraft: Number of engines?             25291 non-null  object
 13  Aircraft: Airline/Operator               25429 non-null  object
 14  Origin State                             25109 non-null  object
 15  When: Phase of flight                    25429 non-null  object
 16  Conditions: Precipitation                2015 non-null   object
 17  Remains of wildlife collected?           25558 non-null  bool
 18  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 19  Remarks                                  20787 non-null  object
 20  Wildlife: Size                           25429 non-null  object
 21  Conditions: Sky                          25558 non-null  object
 22  Wildlife: Species                        25558 non-null  object
 23  Pilot warned of birds or wildlife?       25429 non-null  object
 24  Cost: Total $                            25558 non-null  object
 25  Cost Group                               25558 non-null  object
 26  Feet above ground                        25429 non-null  object
 27  Number of people injured                 25558 non-null  int64
 28  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), float64(2), int64(3), object(22)
memory usage: 5.3+ MB

In [82]:
df.isnull().sum()

ï»¿Record ID                                   0
Aircraft: Type                               129
Airport: Name                                129
Altitude bin                                 129
Aircraft: Make/Model                           0
Wildlife: Number struck                      129
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   23480
FlightDate                                   129
Year                                         129
Month                                        129
Effect: Indicated Damage                       0
Aircraft: Number of engines?                 267
Aircraft: Airline/Operator                   129
Origin State                                 449
When: Phase of flight                        129
Conditions: Precipitation                  23543
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Remarks                                     4771
Wildlife: Size                               129
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?           129
Cost: Total $                                  0
Cost Group                                     0
Feet above ground                            129
Number of people injured                       0
Is Aircraft Large?                           129
dtype: int64

In [83]:
df['Airport: Name'].unique()

array(['LAGUARDIA NY', 'DALLAS/FORT WORTH INTL ARPT', 'LAKEFRONT AIRPORT',
       ..., 'LAKE PALOURDE BASE HELIPORT', 'CULPEPER REGIONAL ARPT',
       'PRINCESS JULIANA'], dtype=object)

In [84]:
df['Altitude bin'].unique()

array(['> 1000 ft', '< 1000 ft', nan], dtype=object)

In [85]:
df['Wildlife: Number struck'].unique()

array(['Over 100', '2 to 10', nan, '11 to 100', '1'], dtype=object)

In [86]:
df['Effect: Impact to flight'].unique()

array(['Engine Shut Down', nan, 'Precautionary Landing', 'Other',
       'Aborted Take-off'], dtype=object)

In [87]:
df['Origin State'].unique()

array(['New York', 'Texas', 'Louisiana', 'Washington', 'Virginia', nan,
       'Delaware', 'DC', 'Georgia', 'Florida', 'California', 'Illinois',
       'Connecticut', 'Missouri', 'Rhode Island', 'Hawaii', 'Arizona',
       'Tennessee', 'South Carolina', 'South Dakota', 'New Jersey',
       'Colorado', 'Minnesota', 'Alabama', 'Ohio', 'Wisconsin',
       'Michigan', 'Massachusetts', 'Alaska', 'North Carolina',
       'Kentucky', 'Indiana', 'Oregon', 'Pennsylvania', 'New Hampshire',
       'Arkansas', 'Nevada', 'Mississippi', 'Maryland', 'Maine', 'Quebec',
       'Idaho', 'British Columbia', 'Utah', 'Nebraska', 'Iowa',
       'New Mexico', 'West Virginia', 'Oklahoma', 'North Dakota',
       'Vermont', 'Wyoming', 'Kansas', 'Prince Edward Island', 'Montana',
       'Puerto Rico', 'Ontario', 'Virgin Islands',
       'Newfoundland and Labrador', 'Alberta', 'Saskatchewan'],
      dtype=object)

In [88]:
df['When: Phase of flight'].unique()

array(['Climb', 'Landing Roll', 'Approach', 'Take-off run', 'Descent',
       nan, 'Taxi', 'Parked'], dtype=object)

In [89]:
df.columns

Index(['ï»¿Record ID', 'Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Wildlife: Number Struck Actual', 'Effect: Impact to flight',
       'FlightDate', 'Year', 'Month', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
       'Remains of wildlife collected?',
       'Remains of wildlife sent to Smithsonian', 'Remarks', 'Wildlife: Size',
       'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Cost: Total $', 'Cost Group',
       'Feet above ground', 'Number of people injured', 'Is Aircraft Large?'],
      dtype='object')

In [90]:
df1=df.copy()

In [91]:
df1

,ï»¿Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Year,...,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Cost Group,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,23-11-2000,2000.0,...,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,"30,736",0-1L,"1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,25-07-2001,2001.0,...,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,14-09-2001,2001.0,...,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,09-05-2002,2002.0,...,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,23-06-2003,2003.0,...,NO DMG REPTD.,Small,No Cloud,European starling,N,0,0,50,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25553,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,NaN,30-12-2011,2011.0,...,DUCK? NO DMG REPTD.,Large,Overcast,Unknown bird - large,N,0,0,"1,500",0,No
25554,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,NaN,30-12-2011,2011.0,...,NaN,Small,Some Cloud,Tree swallow,Y,0,0,0,0,No
25555,319680,NaN,NaN,NaN,EC-135,NaN,1,NaN,NaN,NaN,...,STRUCK BIRD ON RT FRONT DURING T/O. BIRD REPTD...,NaN,No Cloud,Unknown bird - small,NaN,0,0,NaN,0,NaN
25556,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,NaN,31-12-2011,2011.0,...,PILOTS REPORT STRIKING UNKNOWN BIRD ON RWY 21L...,Medium,Some Cloud,Unknown bird - medium,Y,0,0,0,0,Yes
25557,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,NaN,31-12-2011,2011.0,...,"HIT CENTER OF RADOME, CAVING IN ABOUT 12"". RAD...",Medium,No Cloud,Red-tailed hawk,N,0,0,0,0,Yes

In [92]:
df1 =df1.dropna(subset=['Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Wildlife: Number Struck Actual',
       'FlightDate', 'Year', 'Month', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight',
       'Remains of wildlife collected?',
       'Remains of wildlife sent to Smithsonian', 'Wildlife: Size',
       'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Cost: Total $', 'Cost Group',
       'Feet above ground', 'Number of people injured', 'Is Aircraft Large?'])

In [93]:
df1.isnull().sum()

ï»¿Record ID                                   0
Aircraft: Type                                 0
Airport: Name                                  0
Altitude bin                                   0
Aircraft: Make/Model                           0
Wildlife: Number struck                        0
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   22752
FlightDate                                     0
Year                                           0
Month                                          0
Effect: Indicated Damage                       0
Aircraft: Number of engines?                   0
Aircraft: Airline/Operator                     0
Origin State                                   0
When: Phase of flight                          0
Conditions: Precipitation                  22771
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Remarks                                     4605
Wildlife: Size                                 0
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?             0
Cost: Total $                                  0
Cost Group                                     0
Feet above ground                              0
Number of people injured                       0
Is Aircraft Large?                             0
dtype: int64

In [94]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24747 entries, 0 to 25557
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ï»¿Record ID                             24747 non-null  int64
 1   Aircraft: Type                           24747 non-null  object
 2   Airport: Name                            24747 non-null  object
 3   Altitude bin                             24747 non-null  object
 4   Aircraft: Make/Model                     24747 non-null  object
 5   Wildlife: Number struck                  24747 non-null  object
 6   Wildlife: Number Struck Actual           24747 non-null  int64
 7   Effect: Impact to flight                 1995 non-null   object
 8   FlightDate                               24747 non-null  object
 9   Year                                     24747 non-null  float64
 10  Month                                    24747 non-null  float64
 11  Effect: Indicated Damage                 24747 non-null  object
 12  Aircraft: Number of engines?             24747 non-null  object
 13  Aircraft: Airline/Operator               24747 non-null  object
 14  Origin State                             24747 non-null  object
 15  When: Phase of flight                    24747 non-null  object
 16  Conditions: Precipitation                1976 non-null   object
 17  Remains of wildlife collected?           24747 non-null  bool
 18  Remains of wildlife sent to Smithsonian  24747 non-null  bool
 19  Remarks                                  20142 non-null  object
 20  Wildlife: Size                           24747 non-null  object
 21  Conditions: Sky                          24747 non-null  object
 22  Wildlife: Species                        24747 non-null  object
 23  Pilot warned of birds or wildlife?       24747 non-null  object
 24  Cost: Total $                            24747 non-null  object
 25  Cost Group                               24747 non-null  object
 26  Feet above ground                        24747 non-null  object
 27  Number of people injured                 24747 non-null  int64
 28  Is Aircraft Large?                       24747 non-null  object
dtypes: bool(2), float64(2), int64(3), object(22)
memory usage: 5.3+ MB

In [100]:
df1.drop(['Remarks'],axis=1,inplace=True)

C:\Users\suchi\AppData\Local\Temp\ipykernel_20644\705099060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['Remarks'],axis=1,inplace=True)

In [101]:
df1.columns

Index(['ï»¿Record ID', 'Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Wildlife: Number Struck Actual', 'Effect: Impact to flight',
       'FlightDate', 'Year', 'Month', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
       'Remains of wildlife collected?',
       'Remains of wildlife sent to Smithsonian', 'Wildlife: Size',
       'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Cost: Total $', 'Cost Group',
       'Feet above ground', 'Number of people injured', 'Is Aircraft Large?'],
      dtype='object')

In [102]:
df1.isnull().sum()

ï»¿Record ID                                   0
Aircraft: Type                                 0
Airport: Name                                  0
Altitude bin                                   0
Aircraft: Make/Model                           0
Wildlife: Number struck                        0
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   22752
FlightDate                                     0
Year                                           0
Month                                          0
Effect: Indicated Damage                       0
Aircraft: Number of engines?                   0
Aircraft: Airline/Operator                     0
Origin State                                   0
When: Phase of flight                          0
Conditions: Precipitation                  22771
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Wildlife: Size                                 0
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?             0
Cost: Total $                                  0
Cost Group                                     0
Feet above ground                              0
Number of people injured                       0
Is Aircraft Large?                             0
dtype: int64

In [104]:
df1.to_csv(r'D:\Unified_Mentor\Working_File\Bird Strikes data_cleaned.csv',index=False)